:root {
  --el-bg-color: #f9f9f9;
  --el-color-white: #f9f9f9;
  --el-color-black: #191919;
  --el-color-primary: #909399;
  --el-color-primary-light-3: #b1b3b8;
  --el-color-primary-light-5: #c8c9cc;
  --el-color-primary-light-7: #dedfe0;
  --el-color-primary-light-8: #e9e9eb;
  --el-color-primary-light-9: #f4f4f5;
  --el-color-primary-dark-2: #606266;
}
